h2 , h4 {
  text-align: center;
}





div {
  position: relative;
  height:100%
}
div img {
  padding:50px;
}


.background1  {
  background-image: url('images/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px;
}
.about-us {
  text-align: center;
  padding: 50px;
}
.background2  {
  background-image: url('images/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  padding: 110px;
}
.what-we-do {
  padding: 50px;
}
.containerm {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.containerm:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.background3  {
  background-image: url('images/backgrounds/c_image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  padding: 200px;

}
.col-md-2  {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
.frame  {
  height:160px;
  background: transparent no-repeat center;
  background-size: cover;
}
.frame:hover  {
  opacity: 0.7;
  color: black;
}
.social {
  text-align: center;
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align:center;
  text-decoration: none;
  border-radius: 100%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-behance {
  background:blue;
  color: white
}
.fa-youtube {
  background: maroon;
  color: white
}
.fa-pinterest {
  background: red;
  color: white;
}
.fa-skype {
  background: lightblue;
  color: white;
}
.fa-flickr  {
  background:red;
  color:white;
}
.fa-stumbleupon {
  background: orange;
  color: white;
}
