.background1  {
  background-image: url('images/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.background2  {
  background-image: url('images/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.background3  {
  background-image: url('images/backgrounds/c_image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

}
